name: CI
on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']
jobs:
  lint-code:
    name: Lint
    runs-on: [ubuntu-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - name: Setup golangci-lint
        uses: golangci/golangci-lint-action@v8
  test-unit:
    name: Unit Test
    runs-on: [ubuntu-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
            go-version-file: 'go.mod'
      - name: Test
        run: make unit-test
